## Data Collection

In this task we are collecting the data for customer reviews about British Airways From the site `Skytrax`

In [12]:
# Importing required libraries

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [14]:
# An empty list to store reviews 
reviews = []
# An empty list to store Stars
stars = []
# An empty list to store date 
date = []
# An empty list to store the country name where the review is from
country = []

In [15]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
page_size = 100
for i in range(1,36):
    page = requests.get(f'{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}')
    soup = BeautifulSoup(page.content,"html.parser")
    
    #reviews
    
    for item in soup.find_all('div',class_ = 'text_content'):
        reviews.append(item.text)
    
    #stars
    
    for item in soup.find_all('div',class_ = 'rating-10'):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error in page {i}")
            stars.append("None")
    
    #date
    
    for item in soup.find_all('time'):
        date.append(item.text)
        
    #country
    
    for item in soup.find_all('h3'):
        country.append(item.span.next_sibling.text.strip(' ()'))

Error in page 32
Error in page 34
Error in page 34

In [16]:
len(reviews)

3500

In [17]:
len(country)

3500

In [18]:
stars = stars[:3500]
len(stars)

3500

In [19]:
# Transforing the collected raw data into datafram

df = pd.DataFrame({"Reviews":reviews,"Stars":stars,"Date":date,"Country":country})

In [20]:
df.head()

,Reviews,Stars,Date,Country
0,✅ Trip Verified | Have no fear when your BA f...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,21st February 2024,United Kingdom
1,Not Verified | We have flown BA five times fr...,10,17th February 2024,United States
2,✅ Trip Verified | London Heathrow to Istanbul...,3,17th February 2024,United Kingdom
3,"Not Verified | Jan 30th, I booked a last-minut...",3,16th February 2024,United States
4,✅ Trip Verified | I am a British Airways Gold ...,2,11th February 2024,United States

### Exporting the Data into CSV format

In [21]:
import os

cwd = os.getcwd()
df.to_csv(cwd+"/BA_reviews.csv")